        /* essentials START */
        
        * {
            padding: 0px;
            margin: 0px;
        }
        
        body {
            font-size: 16px;
            font-family: 'Cairo', sans-serif;
            background: #f5f5f5;
        }
        
        a,
        a:hover {
            color: #000;
            text-decoration: none;
        }
        /* essentials END */
        /* banner START */
        
        .page-container {
            position: relative;
            padding-bottom: 440px;
        }
        
        .page-header .banner {
            width: 100%;
            height: 70vh;
            background: url(../img/banner.png);
            background-size: cover;
            background-repeat: round;
        }
        
        .banner>div {
            padding: 10px 30px;
        }
        
        .banner .banner-header {
            color: #fff;
            height: 20%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        
        .banner-logo.col-12 {
            width: 100%;
            height: 50%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-wrap: nowrap;
        }
        
        img.logo {
            width: 370px;
            height: unset;
        }
        
        .search,
        .lang {
            display: flex;
            flex-direction: row;
        }
        
        .search {
            justify-content: flex-end;
            align-items: center;
        }
        
        .search>*,
        .lang>* {
            outline: none;
            border: none;
            font-size: 14px;
        }
        
        .search #searchtxt {
            margin-right: 5px;
            padding: 5px 10px;
            border-radius: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .search #searchbtn {
            background: transparent;
            color: #fff;
            border: none;
            border-radius: 0px;
        }
        
        .lang {
            justify-content: flex-start;
            align-items: center;
        }
        
        .lang>* {
            margin: 0px;
            margin-left: 10px;
        }
        
        .lang a {
            text-align: center;
            background: #ffe7ca;
            padding: 3px 23px;
            border-radius: 27px;
        }
        
        .banner-navigation {
            display: flex;
            justify-content: center;
            align-items: center;
            direction: rtl;
        }
        
        .banner-navigation a.nav-link {
            width: fit-content;
            text-align: center;
            background: #fff !important;
            color: #000 !important;
            padding: 3px 15px;
            margin: 3px;
            border-radius: 27px;
        }
        
        .banner-navigation a.nav-link.active {
            background: #ffe7ca !important;
        }
        
        .banner-navigation .nav-fill .nav-item,
        .banner-navigation .nav-fill>.nav-link {
            flex: none;
            text-align: center;
        }
        /* banner END */
        /* body START */
        
        .page-body section {
            margin: 50px auto !important;
            text-align: right;
        }
        
        .slider-container {
            padding: 25px 45px 55px 45px;
            background: linear-gradient(90deg, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
            border-radius: 23px;
            position: relative;
            display: flex;
            flex-flow: column;
        }
        
        .slider-container .slider-title {
            text-align: center;
            margin-bottom: 23px;
            color: #fff;
            font-weight: 700;
        }
        
        .swiper-container {
            width: 100%;
            height: 65vh;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .swiper-button-next,
        .swiper-button-prev {
            color: #122014;
        }
        
        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 30px;
        }
        
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            right: -45px;
            left: auto;
        }
        
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            left: -45px;
            right: auto;
        }
        
        .slider-container>.swiper-pagination-bullets,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 20px;
            left: 0;
            width: 100%;
        }
        
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            display: inline-block;
            border-radius: 50%;
            background: #fff;
            opacity: 1;
            margin: 0px 3px;
        }
        
        .swiper-pagination-bullet-active {
            opacity: 1;
            background: #f7ce9e;
        }
        
        .content-container {
            max-width: 100%;
            height: 100%;
            display: flex!important;
            justify-content: center;
            align-items: center;
        }
        
        .swiper-container .thumbnail,
        .swiper-container .data {
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            flex-direction: column;
            background: #ffe7ca;
        }
        
        .data p {
            font-size: 17px;
    padding: 10px 26px 0px 26px;
            text-align: right;
            margin: 0px 0px;
        }
        
        a.btn.more-btn {
            background: #fff;
            margin-right: auto;
            margin-left: 60px;
            padding: 5px 25px;
            border-radius: 10px;
        }
        /* section START */
        
        h2.section-title {
            width: fit-content;
            margin-left: auto;
            font-weight: 700;
            padding: 10px 16px;
            color: #fff;
            background: linear-gradient( 90deg, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
            border-radius: 8px;
            color: #ffe7ca;
        }
          
        h2.sections-title {
            width: fit-content;
            font-weight: 700;
            padding: 10px 16px;
            color: #fff;
            background: linear-gradient( 90deg, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
            border-radius: 8px;
            color: #ffe7ca;
            margin-top: 10px;
        }
        .section-title-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .content {
            display: flex;
            justify-content: center;
            position: relative;
            margin-bottom: 50px;
        }
        
        .thumbnail-container {
            width: 100%;
            height: 300px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            border-radius: 13px;
        }
        
        .thumbnail-container img.thumbnail {
            width: 90%;
            height: 90%;
            /* margin: auto; */
        }
        
        .text-container {
            background: linear-gradient( 90deg, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
            color: #fff;
            padding: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border-radius: 22px;
            position: absolute;
            bottom: -29px;
            width: 90%;
            text-align: center;
        }
        
        .text-container h4 {
            font-size: 20px;
            margin: 0px;
        }
        
        nav.rtl-pagination {
            direction: rtl;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        ul.pagination li {
            margin: 0px 3px;
            border-radius: 181px !important;
        }
        
        .page-link {
            color: #000;
            padding: .375rem .75rem;
            border-radius: 6px !important;
        }
        
        .page-item.active .page-link {
            z-index: 3;
            color: #000;
            background-color: #ffe7ca;
            border-color: #ddc7ac;
        }
        
        .page-link:focus {
            color: #000;
        }
        /* section END */
        /* section START */
        
        .page-body section ul.nav.nav-pills.nav-fill {
            display: flex;
            direction: rtl;
            align-items: baseline;
            width: 100%;
            flex-wrap: nowrap;
        }
        
        .page-body section ul.nav.nav-pills.nav-fill.newnav {
            align-items: flex-end;
        }
        
        .page-body section .nav-pills .nav-link.active,
        .page-body section .nav-pills .show>.nav-link {
            background: #122014;
            color: #fff;
            margin: 0px 8px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        
        .page-body section .nav-pills.newnav .nav-link.active,
        .page-body section .nav-pills.newnav .show>.nav-link {
            background: url(../img/banner.png);
            /* background-size: cover; */
            background-attachment: fixed;
            background-repeat: round;
            height: 160px;
            padding: 0px 20px;
            font-size: 41px;
        }
        
        .page-body section .nav-pills .nav-link {
            color: #000;
            background: #ffe7ca;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 0px 10px;
            margin-bottom: 5px;
            border-radius: 16px;
            font-size: 18px;
            font-weight: 700;
            outline: none;
            border: none;
            width: 97%;
        }
        
        .page-body section .nav-pills.newnav .nav-link {
            height: 120px;
            font-size: 24px;
        }
        
        .widget {
            direction: rtl;
            /* margin: 10px 0px; */
            margin: auto !important;
            padding: 15px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 3px 7px 0px #00000030;
        }
        
        .widget .content {
            margin: 23px 0px;
        }
        
        .widget .content .title {
            width: 80%;
            margin: 0;
            margin-left: auto;
            font-size: 17px;
            margin-top: 15px;
            font-weight: 600;
        }
        
        .widget .content .download-btn-container,
        .widget .content .play-btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            border-radius: 5px;
            width: fit-content;
            height: fit-content;
            padding: 9px;
        }
        
        .widget .content .download-btn-container i,
        .widget .content .play-btn-container i {
            font-size: 16px;
        }
        
        .widget .content .play-btn-container {
            background: #0f6e62;
        }
        
        .widget .content .play-btn-container i {
            color: #fff;
        }
        
        .widget .content .download-btn-container {
            background: #b8d5dd;
        }
        
        .widget .content .download-btn-container i {
            color: #0f6e62;
        }
        /* section END */
        /* section START */
        
        .widget-dark {
            color: #fff;
            background: url(../img/banner.png);
            background-repeat: round;
            background-size: cover;
        }
        /* section END */
        /* section START */
        
        .widget-numbers {
            padding: 20px 134px;
            justify-content: center;
        }
        
        .widget-dark,
        .widget-numbers {
            border-radius: 16px;
        }
        
        .number-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: 16px;
        }
        
        .number-container .number {
            background: #122014;
            color: #fff;
            padding: 2px 20px;
            font-size: 23px;
            font-weight: 400;
            border-radius: 5px;
            margin-bottom: 40px;
            box-shadow: 0px -2px 4px #0000003b;
        }
        
        .number-container .number-title {
            color: #000;
            background: #ffe7ca;
            padding: 2px 30px;
            font-size: 23px;
            font-weight: 400;
            border-radius: 16px;
            position: absolute;
            bottom: 6px;
            box-shadow: 0px -2px 4px #0000001a;
        }
        /* section END */
        /* body END */
        /* footer START */
        
        footer.page-footer {
            width: 100%;
            height: 400px;
            background: url(../img/banner.png);
            color: #fff;
            background-repeat: round;
            background-size: cover;
            margin: auto;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        footer.page-footer .layer {
            /* background: #ffffff75; */
            background: #cbcbcb1f;
            width: 90%;
            height: 85%;
            margin: auto;
            padding: 25px 15px;
        }
        
        footer.page-footer .social-media {
            margin-top: 20px;
        }
        
        footer.page-footer .social-media a {
            margin: 0px 5px;
            padding: 15px;
            border-radius: 50%;
            background: #ffe7ca;
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        footer.page-footer .logo-contact {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
        
        footer.page-footer .links-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        
        footer.page-footer .layer nav {
            font-size: 18px;
            display: flex;
            justify-content: center;
            list-style: none;
        }
        
        footer.page-footer .layer nav ul {
            /* justify-content: center; */
            list-style: none;
            margin-right: 10px;
            padding-right: 20px;
            border-right: 1px solid;
            height: fit-content;
        }
        
        footer.page-footer .layer nav ul:last-of-type {
            border: none
        }
        
        footer.page-footer .layer nav ul li {
            margin-bottom: 5px;
        }
        
        footer.page-footer .layer nav ul li a {
            color: #fff;
            font-weight: 500;
        }
        
        footer.page-footer .logo img {
            width: 280px;
            height: unset;
        }
        
        footer.page-footer .copyrights-container {
            display: flex;
            align-content: flex-end;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
        }
        
        footer.page-footer .copyrights-container .copyrights h4 {
            font-weight: 700;
            font-size: 14px;
        }
        /* footer END */
        /* responsive START */
        
        @media (max-width:1500px) {}
        
        @media (max-width:1024px) {
            img.logo {
                width: 555px;
                height: unset;
            }
            .banner>div {
                padding: 10px 15px;
            }
            .banner-navigation.col-7.m-auto {
                width: 80%;
            }
            .banner-navigation a.nav-link {
                width: fit-content;
                text-align: center;
                background: #fff !important;
                color: #000 !important;
                padding: 5px 20px;
                margin: 3px;
                border-radius: 27px;
                font-size: 22px;
            }
            .slider-container {
                padding: 25px 25px 55px 25px;
            }
            .swiper-container {
                width: 100%;
                height: 45vh;
            }
            .swiper-container .thumbnail {
                width: 57%;
            }
            .swiper-container .data {
                width: 43%;
            }
            .data p {
                font-size: 21px;
                padding: 10px 20px;
                text-align: right;
                margin: 0px 0px;
            }
            .text-container {
                padding: 10px;
            }
            .text-container h4 {
                font-size: 17px;
                margin: 0px;
            }
            .page-body section ul.nav.nav-pills.nav-fill {
                display: flex;
                direction: rtl;
                align-items: baseline;
                flex-wrap: nowrap;
            }
            .page-body section ul.nav.nav-pills.nav-fill.newnav {
                align-items: flex-end;
                justify-content: center;
            }
            .page-body section .nav-pills.newnav .nav-link {
                font-size: 24px;
                width: 146px;
            }
            .page-body section .nav-pills.newnav .nav-link.active,
            .page-body section .nav-pills.newnav .show>.nav-link {
                padding: 0px 20px;
                font-size: 41px;
                width: 206;
            }
            footer.page-footer .logo img {
                width: 230px;
            }
        }
        
        @media (max-width:850px) {
            .banner-navigation a.nav-link {
                padding: 5px 10px;
                border-radius: 27px;
                font-size: 17px;
            }
            img.logo {
                width: 400px;
                height: unset;
            }
            section.col-9.m-auto.slider:first-of-type {
                width: 90%;
            }
            .data p {
                font-size: 17px;
                padding: 5px 11px;
                text-align: right;
                margin: 0px 0px;
            }
            section.col-9.m-auto {
                width: 90%;
            }
            section.col-7.m-auto {
                width: 80%;
            }
            .page-body section .nav-pills.newnav .nav-link {
                font-size: 21px;
                width: 110px;
                height: 110px;
            }
            .page-body section .nav-pills.newnav .nav-link.active,
            .page-body section .nav-pills.newnav .show>.nav-link {
                padding: 0px 20px;
                font-size: 31px;
                width: 176px;
                height: 140px;
            }
            .widget-numbers {
                padding: 20px 70px;
                justify-content: center;
            }
            footer.page-footer .logo img {
                width: 180px;
            }
            footer.page-footer .social-media a {
                padding: 10px;
                font-size: 15px;
            }
            footer.page-footer .layer nav ul li a {
                color: #fff;
                font-weight: 500;
                font-size: 12px;
            }
            .title_tables,.title_table,td{
                    font-size: 12px;

            }

        }
        
        @media(max-width:700px) {
            .banner-navigation a.nav-link {
                padding: 5px 10px;
                border-radius: 27px;
                font-size: 14px;
            }
            section.col-9.m-auto {
                width: 96%;
            }
            section.col-7.m-auto {
                width: 90%;
            }
            .swiper-button-next,
            .swiper-container-rtl .swiper-button-prev {
                right: -45px;
                left: auto;
                display: none;
            }
            .data p {
                font-size: 11px;
            }
            a.btn.more-btn {
                background: #fff;
                margin-right: auto;
                margin-left: 30px;
                padding: 4px 10px;
                font-size: 14px;
                border-radius: 10px;
            }
            .page-body section .nav-pills.newnav .nav-link {
                font-size: 15px;
                width: 70px;
                height: 80px;
                padding: 0px;
            }
            .page-body section .nav-pills.newnav .nav-link.active,
            .page-body section .nav-pills.newnav .show>.nav-link {
                padding: 0px 20px;
                font-size: 27px;
                width: 145px;
                height: 120px;
            }
            .widget .content .title {
                font-size: 15px;
            }
            .text-container {
                padding: 7px;
            }
            .text-container h4 {
                font-size: 11px;
                margin: 0px;
            }
            .widget .content .download-btn-container,
            .widget .content .play-btn-container {
                padding: 7px;
            }
            .widget .content .download-btn-container i,
            .widget .content .play-btn-container i {
                font-size: 14px;
            }
            section.col-7.m-auto {
                width: 90%;
            }
            footer.page-footer .layer nav ul {
                /* justify-content: center; */
                list-style: none;
                margin-right: 6px;
                padding: 0px 4px;
                border-right: 1px solid;
                height: fit-content;
            }
            footer.page-footer .logo img {
                width: 130px;
            }
            footer.page-footer .social-media {
                margin-top: 10px;
            }
            footer.page-footer .social-media a {
                padding: 8px;
                font-size: 10px;
                width: 19px;
                height: 19px;
            }
            footer.page-footer .copyrights-container .copyrights h4 {
                font-weight: 700;
                font-size: 9px;
            }
            .title_tables,.title_table,td{
                    font-size: 9px;

            }
        }
        
        @media (max-width:450px) {
            .lang>* {
                margin: 0px;
                margin-left: 5px;
            }
            .search>*,
            .lang>* {
                font-size: 12px;
            }
            .lang a {
                padding: 2px 10px;
            }
            img.logo {
                width: 290px;
                height: unset;
            }
            .banner-navigation.col-7.m-auto {
                width: 100%;
                padding: 0px;
            }
            .banner-navigation a.nav-link {
                padding: 5px 6px;
            }
            section.col-9.m-auto {
                width: 100% !important;
            }
            .section-body.container-fluid.row {
                padding: 8px;
            }
            .section-body.container-fluid.row {
                padding: 5px;
                margin: 0px;
            }
            .thumbnail-container {
                height: 210px;
            }
            .text-container {
                padding: 5px;
            }
            .text-container h4 {
                font-size: 10px;
                margin: 0px;
            }
            .page-item .page-link {
                margin-left: -1px;
                padding: 0.275rem 0.65rem;
            }
            .page-body section .nav-pills.newnav .nav-link {
                font-size: 12px;
                width: 63px;
                height: 60px;
                padding: 0px;
                margin: 2px;
            }
            .page-body section .nav-pills.newnav .nav-link.active,
            .page-body section .nav-pills.newnav .show>.nav-link {
                padding: 0px 20px;
                font-size: 17px;
                width: 110px;
                height: 100px;
            }
            .widget .content .title {
                font-size: 13px;
            }
            .page-body section .nav-pills .nav-link.active,
            .page-body section .nav-pills .show>.nav-link {
                margin: 0px 3px;
            }
            .page-body section .nav-pills .nav-link {
                margin: 0px 3px;
                font-size: 16px;
                font-weight: 700;
                padding: 0.3rem 0.7rem;
            }
            .number-container .number {
                padding: 2px 20px;
                font-size: 19px;
                margin-bottom: 38px;
            }
            .number-container .number-title {
                padding: 2px 20px;
                font-size: 20px;
            }
            footer.page-footer .copyrights-container {
                padding: 0px;
            }
            footer.page-footer .copyrights-container .copyrights h4 {
                font-weight: 700;
                font-size: 9px;
            }
            footer.page-footer .layer {
                /* background: #ffffff75; */
                background: transparent !important;
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 0px 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
            }
            footer.page-footer .layer nav ul {
                /* justify-content: center; */
                list-style: none;
                margin-right: 16px;
                padding: 0px 4px;
                border-right: 1px solid;
                height: fit-content;
                margin-bottom: 0rem;
            }
            footer.page-footer .layer {
                /* background: #ffffff75; */
                background: #cbcbcb1f;
                width: 95%;
                height: 95%;
                margin: auto;
                padding: 0px 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
            }
            footer.page-footer .layer nav ul li a {
                color: #fff;
                font-weight: 500;
                font-size: 13px;
            }
            .layer>* {
                margin-bottom: 27px !important;
                width: 100%;
                padding: 0px;
            }
            footer.page-footer .social-media {
                margin-top: 16px;
            }
            footer.page-footer .social-media a {
                padding: 12px;
                font-size: 14px;
                width: 19px;
                height: 19px;
            }
            footer.page-footer .logo img {
                width: 170px;
                margin-top: 27px;
            }

            .title_tables,.title_table,td{
                    font-size: 9px;

            }
        }
        
        @media (max-width:330px) {
            .title_tables,.title_table{
                    font-size: 9px;

            }
            .page-body section .nav-pills.newnav .nav-link.active,
            .page-body section .nav-pills.newnav .show>.nav-link {
                padding: 0px 20px;
                font-size: 14px;
                width: 90px;
                height: 85px;
            }
            .page-body section .nav-pills.newnav .nav-link {
                font-size: 11px;
                width: 55px;
                height: 54px;
                padding: 0px;
                margin: 0px;
            }
            .widget .content .title {
                font-size: 11px;
            }
            footer.page-footer {
                height: 430px;
            }
        }
        
        @media (max-width:300px) {
            .title_tables,.title_table,td{
                    font-size: 9px;

            }
            .banner .banner-header {
                color: #fff;
                height: 20%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-content: space-between;
            }
            .banner-header>* {
                width: 100%;
                /* margin: auto; */
            }
            .banner-navigation a.nav-link {
                padding: 2px 5px;
                font-size: 13px;
            }
            /* .lang a {
                padding: 2px 7px;
            }
            .search>*,
            .lang>* {
                font-size: 10px;
            } */
            img.logo {
                width: 230px;
                height: unset;
            }
            .thumbnail-container {
                height: 150px;
            }
            .text-container {
                padding: 5px;
            }
            .text-container h4 {
                font-size: 9px;
                margin: 0px;
            }
            .page-body section .nav-pills.newnav .nav-link {
                font-size: 11px;
                width: 50px;
                height: 49px;
                padding: 0px;
                margin: 1px;
                border-radius: 11px;
            }
            .page-body section .nav-pills .nav-link {
                margin: 0px 1px;
                font-size: 12px;
                font-weight: 700;
                padding: 0.3rem 0.6rem;
            }
            ul.pagination li {
                margin: 0px 1px;
                border-radius: 181px !important;
            }
            h2.section-title {
                padding: 7px 10px;
                font-size: 21px;
            }
            .page-item .page-link {
                margin-left: 5px;
                padding: 0.175rem 0.55rem;
            }
            footer.page-footer {
                height: 460px;
            }
        }
        /* responsive END */

         .pause-btn-container{
            display: none;
                background: #0f6e62;
         }

         .title_arch{
       width: fit-content;

    font-weight: 700;
    padding: 10px 16px;

    background: linear-gradient( 90deg, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
    border-radius: 8px;
    color: #ffe7ca;
        margin-left: 50%;

         }.title_table{
                 width:100%;

    font-weight: 700;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    background: linear-gradient( 90deg, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
    border-radius: 8px;
    color: #ffe7ca;
         }.title_tables{
                 width:fit-content;

    font-weight: 700;
    padding: 10px 16px;

    background: linear-gradient( 90deg, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
    border-radius: 8px;
    color: #ffe7ca;
         }
         .table-striped>tbody>tr:nth-of-type(odd){
         background: #ffe7ca;

         } .table{
            background: #FFF;
            padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      direction: rtl;

         }tbody tr{
             border-width: 0; 

         }

         tbody, td, tfoot, th, thead {
    /* border-color: inherit; */
    border-style: solid;
    /* border-width: 0; */
    border-top: 0;
    border: 10px solid #FFF !important;
    font-family: 'Cairo';
    font-weight: 800;
    margin-left: 5px;
}
.table>:not(caption)>*>*{
    padding: 0 0;
}
      tbody tr  td p {
    float: right;
    padding: 2px;
    margin-right: 5px;
         margin-bottom: 0rem; 

}
.about{

    padding: 25px 45px 55px 45px;
    background: linear-gradient(
90deg
, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
    border-radius: 23px;
    position: relative;
    display: flex;
    flex-flow: column;
}
.information{
    background: #ffe7ca;
    border-radius: 10px;
    padding: 10px;
    margin:5px;
}
.information ul {
    margin-top: 10px;
        direction: rtl;
    margin-right: 30px;
    list-style-type:square;
    list-style-color:linear-gradient(
90deg
, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
}
.information ul li{
  font-size: 20px !important;
  font-weight: bold;
}
.SideStudy{
        border-radius: 10px;
    padding: 10px;
    margin:5px;
}
.SideStudy fieldset{
       background: #fff;
    border-radius: 10px;
    padding: 10px;
        margin:5px;
    direction: rtl;
    padding-right: 21px;
}
.SideStudy fieldset legend{

    background: #ffe7ca;
    border-radius: 30px;
    padding: 0px  20px 0 20px;
}
   .SideStudy fieldset  ul{
  margin-top: 10px;
      margin-right: 10px !important;

        direction: rtl;
    list-style-type:circle;


}
   .containers{
    max-width: 1007px;

   }.more{
        background: #122014;
    color: #fff;
    margin: 0px 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
        border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
width: 13%;
    margin-left: 45%;
    margin-bottom: 3%;
   }
   .title_ar{
        background: #ffd7a7;
    padding: 9px;
    border-radius: 10px;
    margin-top: 20px;
      display: flex;
        justify-content: center;

   }
     .title_ar p{
        font-family: 'Cairo', sans-serif;
        margin-right: 10px;
        direction: rtl;
        margin-bottom: 0rem; 
        font-size: 17px;
      
     }
   .title_ar   .date{
    background: #FFF;
    margin-left: 0%;
    width: 50%;
    text-align: center;
   }
   .title_arches{  
     width: fit-content;
    font-weight: 700;
    padding: 10px 16px;
    background: linear-gradient( 
90deg
, rgba(18, 32, 20, 1) 23%, rgba(39, 69, 74, 1) 56%, rgba(18, 32, 20, 1) 87%);
    border-radius: 8px;
    color: #ffe7ca;
}
   .Contents{
    margin-top: 20px;
    padding: 0;
    background: #FFF;
    border-radius: 10px;       
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
   }.items h2{
    text-align: center;
    font-family: 'Cairo', sans-serif;
    margin-top: 10px;

   }.items p{
    padding: 0 28px;
    direction: rtl;
      text-align: center;
    font-family: 'Cairo', sans-serif;
   }
   .Contentsdetails{
    padding: 10px;
        font-family: 'Cairo', sans-serif;

   }
   .table-striped>tbody>tr:nth-of-type(odd) {
--bs-table-accent-bg: rgb(255 255  d/ 0%);
}   
.nav-item:hover  .nav-link{ background: #ffe7ca !important; }
.copyrights a{
    color: #FFF;
}.tw{
    color: #0d6efd; 
}.image{

    margin-top: 20px;
      
}.image img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}